/*  
 * general
 */ 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url('bki5.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 0;
	border: 0;
}

/*
 * Frame setting
 */
.block_outter_frame {
  border:0;
  border-radius:5px;
  margin:0;
  padding:0;
  position:relative;
}

.block_inner_frame {
  border:0;
  margin:0 0 0 3px;    /* set left margin to 3px */
  padding:0;
}

/*
 * App specific settings
 */
#main_frame {
  width:90%;
  margin:10px auto;
  border-radius:5px;
  background-color:rgba(255,255,255,0.5);
}

.block_title {
  padding:3px 0;
  color:rgba(255,69,0,1);     /* oranged */
  font-weight:1000;
}

.acs_por_frame {
  float:left;
  width:300px;
  margin:5px 5px 0 0;
}

.acs_por_content {
  padding:20px;
  border-right:3px solid rgba(135,206,235,1);     /* tomato */
  border-radius:5px;
  font-weight:bold;
}

.portal_cat {
  border-bottom:1px solid rgba(255,99,71,1);     /* deepskyblue*/
  color:rgba(255,99,71,1);
  font-weight:bold;
}